/* This file is for your main application css. */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html, body {
  height: 100%;
  background-color: #edf2f7;
}

.container {
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 80.0rem;
  position: relative;
  width: 100%;
  height: 100%;
}

#board-lists {
  overflow-x: auto;
  overflow-y: hidden;

  .board-list {
    min-width: 250px;
    margin: 0 4px;
  }
  .board-list:first-child {
    margin-left: 0px;
  }
  .board-list:last-child {
    margin-right: 0px;
  }
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
