#lists {
  overflow-x: auto;
  overflow-y: hidden;

  .list {
    min-width: 250px;
    margin: 0 4px;
  }
  .list:first-child {
    margin-left: 0px;
  }
  .list:last-child {
    margin-right: 0px;
  }
}

.cards {
  .card {
    height: 64px;

    .cross-svg {
      padding: 2px;
    }
  }
}
